extends base 

block maincontents
  .login__form
    form(method="post")
      input(type="text" required name="password" placeholder="currentPW")
      input(type="text" required name="changepassword" placeholder="newPW")
      button Change Password!