extends base 
include mixin/videomixin
block maincontents 
  
  .home__grid
    each video in videos 
      +paintingVideo(video)
      +paintingVideo(video)
      +paintingVideo(video)
      +paintingVideo(video)
      +paintingVideo(video)
      +paintingVideo(video)
      