/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: black;
  opacity: 0.9;
}
.nav .nav__left {
  width: 33%;
  display: flex;
  align-items: center;
}
.nav .nav__left .nav__bar {
  cursor: pointer;
}
.nav .nav__left .nav__bar i.fa-bars {
  font-size: 25px;
  color: #6b6b6b;
  margin-left: 15px;
}
.nav .nav__left i.fa-youtube {
  font-size: 40px;
  margin-left: 15px;
  color: red;
}
.nav .nav__middle {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__middle .search__form {
  display: flex;
  align-items: center;
}
.nav .nav__middle .search__input {
  width: 350px;
  height: 5vh;
  background-color: #6d6d6d;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding-left: 5px;
}
.nav .nav__middle .search__input::placeholder {
  color: whitesmoke;
  padding-left: 3px;
  font-size: 15px;
}
.nav .nav__middle .search__button {
  height: 5vh;
  width: 70px;
  background-color: #424242;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: all ease 0.2s;
}
.nav .nav__middle .search__button:hover {
  background-color: #3b3b3b;
}
.nav .nav__right {
  display: flex;
  width: 33%;
  padding-right: 30px;
  justify-content: flex-end;
  align-items: center;
}
.nav .nav__right a {
  margin-left: 10px;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.2s ease;
}
.nav .nav__right a:hover {
  color: #8b8b8b;
}
.nav .nav__right .hello {
  width: 50px;
  height: 50px;
  background-color: #2b2b2b;
  border-radius: 50%;
  color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s ease;
}
.nav .nav__right .hello span {
  pointer-events: none;
}
.nav .nav__right .hello:hover {
  width: auto;
  border-radius: 4px;
  padding: 0 30px;
}

.errormessage {
  color: red;
  font-size: 30px;
}

.login__form {
  border-radius: 10px;
  width: 40vw;
  margin: 0 auto;
  padding-top: 100px;
}
.login__form .form__input {
  display: flex;
  align-items: center;
}
.login__form .form__input label {
  color: #9b9b9b;
  margin-right: 10px;
}
.login__form .form__input:nth-child(2) input {
  width: 280px;
}
.login__form .joinform {
  margin-top: 10px;
}
.login__form .joinform a {
  all: unset;
  color: #6b6b6b;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.login__form .joinform a:hover {
  color: #9b9b9b;
}
.login__form button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #EEEEEE;
  background-color: #2b2b2b;
  border-radius: 4px;
  transition: all 0.2s ease;
  width: 130px;
  height: 60px;
  cursor: pointer;
}
.login__form button:hover {
  background-color: #4b4b4b;
}
.login__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form form input {
  all: unset;
  width: 300px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  background-color: #6b6b6b;
  color: #EEEEEE;
  padding-left: 3px;
}
.login__form form input::placeholder {
  color: #9b9b9b;
  padding-left: 5px;
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  width: 80vw;
  margin: 0 auto 0 30px;
}

.user__bar {
  position: fixed;
  top: 10vh;
  width: 200px;
  background-color: #1b1b1b;
  height: 90vh;
}
.user__bar .bar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
}
.user__bar .bar__item:hover {
  background-color: #2b2b2b;
}
.user__bar .bar__item:hover a {
  color: #808080;
}
.user__bar .bar__item a {
  text-decoration: none;
  color: #7b7b7b;
  font-size: 22px;
}
.user__bar .bar__item a i {
  margin-right: 8px;
}

.bar__hidden {
  display: none;
}

.video__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__item .item__thumb {
  height: 170px;
  width: 230px;
  border-radius: 10px;
}
.video__item a {
  text-decoration: none;
}
.video__item .item__title {
  color: #8b8b8b;
  font-size: 20px;
  margin-bottom: 10px;
}
.video__item .item__description {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #9b9b9b;
}

.search__by {
  height: 70px;
  font-size: 23px;
  color: #6b6b6b;
  margin-left: 20px;
}

.changepw {
  text-decoration: none;
  color: #5b5b5b;
  margin-top: 10px;
  font-size: 20px;
  transition: all 0.2s ease;
}
.changepw:hover {
  color: #7b7b7b;
}

.video__record {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__record .record__video {
  width: 1000px;
  height: 500px;
}
.video__record .record__btn {
  display: flex;
}
.video__record .record__btn button {
  all: unset;
  width: 320px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #7b7b7b;
  background-color: #4b4b4b;
  transition: all 0.2s ease;
  cursor: pointer;
}
.video__record .record__btn button:hover {
  background-color: #5b5b5b;
}
.video__record .record__btn button:disabled {
  pointer-events: none;
  background-color: #000000;
}

.video__form label {
  width: 150px;
  height: 60px;
  background-color: #5b5b5b;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b7b7b;
  font-size: 24px;
}

.profile__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__section .profile__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 30px;
  background-color: #8b8b8b;
  color: #6b6b6b;
  border-radius: 50%;
  transition: all 0.2s ease;
  background-image: linear-gradient(161deg, rgba(121, 121, 121, 0.02) 0%, rgba(121, 121, 121, 0.02) 16.667%, rgba(193, 193, 193, 0.02) 16.667%, rgba(193, 193, 193, 0.02) 33.334%, rgba(177, 177, 177, 0.02) 33.334%, rgba(177, 177, 177, 0.02) 50.001%, rgba(5, 5, 5, 0.02) 50.001%, rgba(5, 5, 5, 0.02) 66.668%, rgba(229, 229, 229, 0.02) 66.668%, rgba(229, 229, 229, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%), linear-gradient(45deg, rgba(223, 223, 223, 0.02) 0%, rgba(223, 223, 223, 0.02) 14.286%, rgba(70, 70, 70, 0.02) 14.286%, rgba(70, 70, 70, 0.02) 28.572%, rgba(109, 109, 109, 0.02) 28.572%, rgba(109, 109, 109, 0.02) 42.858%, rgba(19, 19, 19, 0.02) 42.858%, rgba(19, 19, 19, 0.02) 57.144%, rgba(180, 180, 180, 0.02) 57.144%, rgba(180, 180, 180, 0.02) 71.43%, rgba(63, 63, 63, 0.02) 71.43%, rgba(63, 63, 63, 0.02) 85.716%, rgba(87, 87, 87, 0.02) 85.716%, rgba(87, 87, 87, 0.02) 100.002%), linear-gradient(337deg, rgba(142, 142, 142, 0.02) 0%, rgba(142, 142, 142, 0.02) 20%, rgba(164, 164, 164, 0.02) 20%, rgba(164, 164, 164, 0.02) 40%, rgba(203, 203, 203, 0.02) 40%, rgba(203, 203, 203, 0.02) 60%, rgba(228, 228, 228, 0.02) 60%, rgba(228, 228, 228, 0.02) 80%, rgba(54, 54, 54, 0.02) 80%, rgba(54, 54, 54, 0.02) 100%), linear-gradient(314deg, rgba(187, 187, 187, 0.02) 0%, rgba(187, 187, 187, 0.02) 12.5%, rgba(170, 170, 170, 0.02) 12.5%, rgba(170, 170, 170, 0.02) 25%, rgba(214, 214, 214, 0.02) 25%, rgba(214, 214, 214, 0.02) 37.5%, rgba(187, 187, 187, 0.02) 37.5%, rgba(187, 187, 187, 0.02) 50%, rgba(190, 190, 190, 0.02) 50%, rgba(190, 190, 190, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%, rgba(206, 206, 206, 0.02) 75%, rgba(206, 206, 206, 0.02) 87.5%, rgba(171, 171, 171, 0.02) 87.5%, rgba(171, 171, 171, 0.02) 100%), linear-gradient(300deg, rgba(243, 243, 243, 0.01) 0%, rgba(243, 243, 243, 0.01) 12.5%, rgba(209, 209, 209, 0.01) 12.5%, rgba(209, 209, 209, 0.01) 25%, rgba(179, 179, 179, 0.01) 25%, rgba(179, 179, 179, 0.01) 37.5%, rgba(3, 3, 3, 0.01) 37.5%, rgba(3, 3, 3, 0.01) 50%, rgba(211, 211, 211, 0.01) 50%, rgba(211, 211, 211, 0.01) 62.5%, rgba(151, 151, 151, 0.01) 62.5%, rgba(151, 151, 151, 0.01) 75%, rgba(16, 16, 16, 0.01) 75%, rgba(16, 16, 16, 0.01) 87.5%, rgba(242, 242, 242, 0.01) 87.5%, rgba(242, 242, 242, 0.01) 100%), linear-gradient(6deg, rgba(31, 31, 31, 0.02) 0%, rgba(31, 31, 31, 0.02) 20%, rgba(193, 193, 193, 0.02) 20%, rgba(193, 193, 193, 0.02) 40%, rgba(139, 139, 139, 0.02) 40%, rgba(139, 139, 139, 0.02) 60%, rgba(14, 14, 14, 0.02) 60%, rgba(14, 14, 14, 0.02) 80%, rgba(122, 122, 122, 0.02) 80%, rgba(122, 122, 122, 0.02) 100%), linear-gradient(279deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%, rgba(160, 160, 160, 0.02) 14.286%, rgba(160, 160, 160, 0.02) 28.572%, rgba(23, 23, 23, 0.02) 28.572%, rgba(23, 23, 23, 0.02) 42.858%, rgba(60, 60, 60, 0.02) 42.858%, rgba(60, 60, 60, 0.02) 57.144%, rgba(149, 149, 149, 0.02) 57.144%, rgba(149, 149, 149, 0.02) 71.43%, rgba(4, 4, 4, 0.02) 71.43%, rgba(4, 4, 4, 0.02) 85.716%, rgba(50, 50, 50, 0.02) 85.716%, rgba(50, 50, 50, 0.02) 100.002%), linear-gradient(109deg, rgba(124, 124, 124, 0.03) 0%, rgba(124, 124, 124, 0.03) 12.5%, rgba(61, 61, 61, 0.03) 12.5%, rgba(61, 61, 61, 0.03) 25%, rgba(187, 187, 187, 0.03) 25%, rgba(187, 187, 187, 0.03) 37.5%, rgba(207, 207, 207, 0.03) 37.5%, rgba(207, 207, 207, 0.03) 50%, rgba(206, 206, 206, 0.03) 50%, rgba(206, 206, 206, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%, rgba(89, 89, 89, 0.03) 75%, rgba(89, 89, 89, 0.03) 87.5%, rgba(96, 96, 96, 0.03) 87.5%, rgba(96, 96, 96, 0.03) 100%), linear-gradient(329deg, rgba(35, 35, 35, 0.02) 0%, rgba(35, 35, 35, 0.02) 20%, rgba(246, 246, 246, 0.02) 20%, rgba(246, 246, 246, 0.02) 40%, rgba(118, 118, 118, 0.02) 40%, rgba(118, 118, 118, 0.02) 60%, rgba(245, 245, 245, 0.02) 60%, rgba(245, 245, 245, 0.02) 80%, rgba(140, 140, 140, 0.02) 80%, rgba(140, 140, 140, 0.02) 100%), linear-gradient(90deg, #4f4f4f, #4f4f4f);
}
.profile__section .profile__name:hover {
  box-shadow: 0px 0px 14px 4px #7b7b7b;
}
.profile__section a {
  all: unset;
  font-size: 15px;
  color: #6b6b6b;
  margin-top: 15px;
  letter-spacing: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.profile__section a:hover {
  color: #5b5b5b;
}
.profile__section h4 {
  width: 100%;
  padding-left: 10px;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

main {
  margin-top: 12vh;
  margin-left: 200px;
}

.login__form #input__videofile,
.login__form #input__thumbfile {
  all: unset;
  display: none;
}
